@model WebApplication1.Models.Ksiazki
@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <hr />
   
    <img src=" @Html.DisplayFor(model => model.ImgURL)"/>
    <p>@Html.DisplayFor(model => model.Tytul)</p>

</div>
<div>
    <a asp-action="Index">Wróć do książek</a>
</div>

